# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Images and results
images/train/*
images/test/*
images/calibration/*
results/*
!results/.gitkeep

# Models
models/*.pth
models/*.pb
models/*.onnx

# Editor files
.vscode/
.idea/
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
